<div class="search">
  <input
    type="text"
    [(ngModel)]="currentUsername"
    placeholder="Enter GitHub username"
  />
  <button (click)="searchGistsForCurrentUser()">Search</button>
</div>
<div class="gist-list">
  <div class="gist" *ngFor="let gist of gists" (click)="onGistClick(gist.id)">
    <h2>{{ gist.description || "No description" }}</h2>
    <div class="files">
      <h3>Files</h3>
      <div class="file-list" *ngFor="let filename of objectKeys(gist.files)">
        <p>
          {{ filename }}
          <span class="badge">.{{ getFileExtension(filename) }}</span>
        </p>
      </div>
    </div>
    <div class="previous-forks">
      <h3>Latest forks</h3>
      <div class="fork-list" *ngFor="let fork of gist.forks">
        <p>{{ fork }}</p>
      </div>
      <p *ngIf="!gist.forks || gist.forks.length === 0">No forks yet</p>
    </div>
  </div>
</div>
